main{
    text-align: left;
}

.image{
    z-index: 1;
    background-color: blue;
    background-image: url("./img/pattern.png");
}

.image2{
    z-index: 2;
}

.second-title{
    color: gray;
    font-size: 12px;
}

.description{
    font-size: 12px;
}

table{
    display: block;
    border-collapse: collapse;
}

thead{
    background-color: rgb(145, 145, 223);
}
tbody{

    tr:nth-child(odd){
        background-color: aqua;
    }
}